<div class="scrollable">  
    <div class="scrollable-content">
        <div class="container-fluid">
            <h2 class="text-center">Take assistance</h2>
            
            <div class="row text-center">
                <div class="col-xs-4 col-sm-2 col-sm-offset-3">
                    <strong>Group:</strong> {{group.name}}
                </div>
                <div class="col-xs-4 col-sm-2">
                    <strong>Event:</strong> {{event.name}}
                </div>
                <div class="col-xs-4 col-sm-2">
                    <strong>Date:</strong> {{date}}
                </div>
            </div>

            <br/>
            
            <div ng-show="rows.length > 0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Last name</th>
                            <th>First name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in rows" ng-click="update(row)">
                            <td>{{getPerson(row.person_id).last_name}}</td>
                            <td>{{getPerson(row.person_id).first_name}}</td>
                            <td class="boolean" style="min-width: 90px;">
                                <span ng-show="row.value === 2"><i class="fa fa-clock-o"></i> Late</span>
                                <span ng-show="row.value === 1"><i class="fa fa-check"></i> Present</span>
                                <span ng-show="row.value === 0"><i class="fa fa-times"></i> Absent</span>
                                <span ng-show="row.value < 0">-</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row text-center">
                    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                        <button class="btn btn-success btn-block" ng-click="save()">Save</button>
                    </div>
                </div>                
            </div>

            <div class="text-center" ng-hide="rows.length > 0">
                No persons available in the selected group.
            </div>  
        </div>
    </div>
</div>