<div class="scrollable">  
    <div class="scrollable-content">
        <h2 class="text-center">Records</h2>

        <table class="table table-striped" ng-show="rows.length > 0">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Group</th>
                    <th>Event</th>
                    <th>User</th>
                    <th><em>Absents</em></th>
                    <th><em>Presents</em></th>
                    <th><em>Late</em></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in rows" ng-click="edit(row.id)">
                    <td>row</td>
                    <td>row</td>
                    <td>row</td>
                    <td>row</td>
                    <td>row</td>
                    <td>row</td>
                    <td>row</td>
                </tr>
            </tbody>
        </table>

        <div class="text-center" ng-hide="rows.length > 0">
            No data available.
        </div>
    </div>
</div>