<div class="scrollable">  
    <div class="scrollable-content">
        <div class="container-fluid">
            
            <h2 class="text-center">Take assistance</h2>

            <form novalidate name="form" ng-submit="next(form)">
                <div class="row text-center">
                    <p>Select and event and a group</p>
                </div>
                <div class="row text-center">
                    <div class="col-md-offset-4 col-md-2 col-sm-6">
                        <div class="form-group">
                            <label for="group">Group</label>
                            <select id="group" name="uGroup" required="" ng-options="item.id as item.name for item in groups" ng-model="entry.group_id">
                            </select>
                        </div>
                        <div ng-show="form.$submitted && form.uGroup.$error.required" class="error">You must select a group</div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="form-group">
                            <label for="group">Event</label>
                            <select id="group" name="uEvent" required="" ng-options="item.id as item.name for item in events" ng-model="entry.event_id">
                            </select>
                        </div>
                        <div ng-show="form.$submitted && form.uEvent.$error.required" class="error">You must select an event</div>
                    </div>
                </div>
                <div class="row text-center">
                    <button type="submit" class="btn btn-success">Continue</button>
                </div>
            </form>
            
        </div>
    </div>
</div>